
    <!-- <h2>Course Details</h2> -->
    <!-- <ul>
      <li *ngFor="let course of   courses">
        <h3>{{ course. }}</h3>
        <p>Course ID: {{ course.}}</p>
        <p>Batch ID: {{ course. }}</p>
        <p>Course Fees: {{ course. }}</p>
      </li>
    </ul> -->

    <div>
        <h2>Course Details</h2>
        <table border="">
          <thead>
            <tr>
              <th>CourseName</th>
              <th>CourseID </th>
              <th>BatchID</th>
              <th>Course_fees</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of  courses">
              <td>{{ course.CourseName }}</td>
              <td>{{ course.CourseID }}</td>
              <td>{{ course.BatchID }}</td>
              <td>{{ course.Course_fees }}</td>
           
            </tr>
          </tbody>
        </table>
      </div>
      
 
  
